{% extends 'base.html' %}

{% block content %}
<div class="container rounded-lg mx-auto my-8 p-8 bg-black text-white">

  <!-- Add Form -->
  <div class="mb-10"></div>
  <div class="w-full mx-auto max-w-lg border rounded-lg">

    <form action="/creare_programare/" method="POST" class="bg-transparent flex gap-5 flex-col shadow-md rounded px-8 py-8 mb-0">
      <h1 class="text-xl font-bold">Programare noua</h1>
      <div>
        <label class="block text-sm font-bold mb-1" for="nume_pacient">
          Nume
        </label>
        <input name="nume_pacient" required
          class="flex w-full rounded-lg border bg-black px-3 py-2 text-sm outline-0 transition-colors duration-500 ease-out focus-visible:ring-1 focus-visible:ring-white"
          id="nume_pacient" placeholder="Nume">
      </div>

      <div>
        <label class="block text-sm font-bold mb-1" for="prenume_pacient">
          Prenume
        </label>
        <input name="prenume_pacient" required
          class="flex w-full rounded-lg border bg-black px-3 py-2 text-sm outline-0 transition-colors duration-500 ease-out focus-visible:ring-1 focus-visible:ring-white"
          id="prenume_pacient" placeholder="Prenume">
      </div>

      <div>
        <label class="block text-sm font-bold mb-1" for="varsta">
          Varsta
        </label>
        <input name="varsta" required
          class="flex w-full rounded-lg border bg-black px-3 py-2 text-sm outline-0 transition-colors duration-500 ease-out focus-visible:ring-1 focus-visible:ring-white"
          id="varsta" placeholder="Varsta">
      </div>

      <div>
        <label class="block text-sm font-bold mb-1" for="Serviciu">
          Serviciu
        </label>
        <select id="serviciu" name="serviciu"
          class="bg-black text-white border border-gray-300 text-sm rounded-lg focus:border-white block w-full p-2.5">
          {% for option in options["optiuni_servicii"] %}
          <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
      </div>

    <div>
        <label class="block text-sm font-bold mb-1" for="data">
          Data programarii
        </label>

        <div class="relative max-w-sm">
{#          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">#}
{#             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">#}
{#                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>#}
{#              </svg>#}
{#          </div>#}
          <input datepicker datepicker-orientation="bottom right" type="date"
                 class="bg-black border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-black dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 required id = "data" placeholder="Select date">
        </div>
       </div>

      <div>
        <label class="block text-sm font-bold mb-1" for="Serviciu">
          Doctori Disponibili
        </label>
        <select id="doctor" name="doctor"
          class="bg-black text-white border border-gray-300 text-sm rounded-lg focus:border-white block w-full p-2.5">
          {% for option in options["optiuni_doctori"] %}
          <option value="{{ option.id }}">{{ option.label }}</option>
          {% endfor %}
        </select>
      </div>
{#    AFISARE DE INTERVALE DISPONIBILE AICI CARE SA FIE SELECTAT#}
      <button
        class="w-half mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
        type="submit">
        Finalizare Programare
      </button>
    </form>
  </div>
</div>
{% endblock %}