{% extends 'base.html' %}

<h1>{% block title %}Programari{% endblock %}</h1>

{% block content %}
<div class="container rounded-lg mx-auto my-8 p-8 bg-black text-white">
  <h1 class="text-2xl font-bold mb-6">Programari</h1>
  <!-- Table -->
  <table class="min-w-full text-left text-sm text-white font-semibold">
    <thead class="border-b font-medium dark:border-neutral-500">
      <tr>
        <th scope="col" class="px-6 py-4">Id programare</th>
        <th scope="col" class="px-6 py-4">Nume pacient</th>
        <th scope="col" class="px-6 py-4">Prenume doctor</th>
        <th scope="col" class="px-6 py-4">Serviciu</th>
        <th scope="col" class="px-6 py-4">Data</th>
        <th scope="col" class="px-6 py-4">Ora</th>
        <th scope="col" class="px-6 py-4">Nume doctor</th>
        <th scope="col" class="px-6 py-4">Prenume doctor</th>
      </tr>
    </thead>
    <tbody>
      {% for programare in programari %}
      <tr
        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
        <td class="whitespace-nowrap px-6 py-4 font-medium">{{programare.idprogramare}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.idpacient}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.iddoctor}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.serviciu}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.data}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.valabil}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.ora_start}}</td>
        <td class="whitespace-nowrap px-6 py-4">{{programare.ora_stop}}</td>
        <td>
          <div class="flex justify-center gap-1">
            <a href="/programare/update/{{programare.idprogramare}}"
              class="focus:outline-none text-base text-black bg-yellow-400 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg px-3 py-2 dark:focus:ring-yellow-900">Edit</a>

            <a href="/programare/delete/{{programare.idprogramare}}"
              class="focus:outline-none text-base text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-3 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div style="text-align:center">
    <button onclick="window.location.href='{{ url_for('programare.creare_programare') }}'"
                class="w-half mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline" >Creare Programare</button>
</div>
</div>
{% endblock %}